<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="COSConnectionString" connectionString="Data Source=COMPAQ-PC\SQLEXPRESS;Initial Catalog=COS;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
	</compilation>

    <siteMap defaultProvider="UserSiteMap">
      <providers>
        <add
          name="AdminSiteMap"
          type="System.Web.XmlSiteMapProvider"
          siteMapFile="Web.sitemap" />
        <add
          name="HODSiteMap"
          type="System.Web.XmlSiteMapProvider"
          siteMapFile="HOD.sitemap" />
        <add
          name="UserSiteMap"
          type="System.Web.XmlSiteMapProvider"
          siteMapFile="User.sitemap" />
      </providers>
    </siteMap>
    
	</system.web>
</configuration>
